/* common css */
button{
    outline: none;
}
.btn {
    display: inline-block;
    font-weight: 500;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: .75rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background: #95AF30;
    border-radius: 5px;
    text-transform: uppercase;
}





.about-img img{
    width: 100%;
}


/* Media-quare */
@media (max-width: 992px){


button.navbar-toggler {
    /* display: none; */
}
.wbs img {
    width: 55%;
}



}